spring:
  application:
    name: simple-board

  datasource:
    url: jdbc:mysql://localhost:3306/board
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      format_sql: true
      highlight_sql: true
      use_sql_comments: true
      dialect: org.hibernate.dialect.MySQL8Dialect